:root{
    --background:#F0F2F5;
    --white-bg:white;
    --primary-bg:#e1e1e1;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    background-color: #F0F2F5;
    color: #1f2937;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SVG Coloring and setting */
/* <a> - settings */
svg{
    stroke: currentColor;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-content: center;
    flex-shrink: 0; 
}

a{
    color: rgb(26, 107, 173);
}

button{
    outline: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

h6{
    font-weight: 350;
}

/* COding begins from here */
.auth-wrap{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    background:url(/Assets/Images/backgroundauth.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.2rem;
    padding: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

section{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

section.s-left{
    background:url(/Assets/Images/left-section_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.85rem;
    outline: 3px solid white;
}

.right-wrap{
    display: grid;
    gap: 1.2rem;
    padding: 4rem 2rem;
}

.auth-wrap header{
    text-align: center;
    line-height: 1.6;
}

.auth-wrap h4{
    font-size: 1.5rem;
    color: #484848;
}

.auth-wrap h5{
    font-weight: 400;
    color: #939393;
}

form{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

input{
    border: none;
    outline: transparent;
    background: transparent;
    padding: 0.65rem 0.5rem; 
    border: 1px solid #a4a4a4;
    border-radius: 6px;

    &::placeholder{
        font-size: 0.85rem;
        color: rgb(159, 159, 159);
    }
}

input:focus-visible{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    border: 2px solid steelblue;
}

label{
    color: #454545;
    font-size: 0.8rem;
}

form .grp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.policy{
    display: flex;
    gap: 0.45rem;
    font-size: 0.85rem;
    color: #484848;
}

button.Sign-up{
    background-color: rgb(0, 128, 255);
    border: 2px solid rgb(79, 167, 255);
    padding: 0.65rem 1.2rem;
    color: white;
    font-size: 1rem;
    width: fit-content;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;

    & a{
        text-decoration: none;
        color: inherit;
        /* font-size: large; */
    }
}

button.Sign-up:hover{
    transform: translateY(-1.5px);
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
}

.btn{
    display: grid;
    place-content: center;
    margin-top: 1rem;
}

p.choice{
    text-align: center;
    font-size: 0.85rem;
}


/* LEFT SECTION */
.s-left{
    display:flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 1rem;
    line-height: 1.5;
}

.s-left header a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.s-left main{
    margin-top: 10rem;
    flex: 1;
    display: grid;
    place-content: center;
    gap: 0.5rem;
}

.s-left main h3{
    font-weight: 400;
    text-transform: uppercase;
}

.s-left main p{
    font-size: 0.85rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.25rem;
}

.s-left h6{
    font-size: 0.75rem;
    background: #CFCFCF;
    background: linear-gradient(to top right, #CFCFCF 28%, #FF6060 100%);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

footer{
    a{
        text-decoration: none;
        font-size: 0.75rem;
    }
}