:root{
    --background:#F0F2F5;
    --white-bg:white;
    --primary-bg:#e1e1e1;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
    background-color: #F0F2F5;
    color: #1f2937;
    min-height: 100vh;
}

/* SVG Coloring and setting */
/* <a> - settings */
svg{
    stroke: currentColor;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-content: center;
    flex-shrink: 0; 
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

h6{
    font-weight: 350;
}

/* Main list item working */

.sell-item-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.listing.item-left{
    padding: 32px;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 3px solid gray;
    background-color: whitesmoke;
    border-style: dashed;
    display: grid;
    place-content: center;
    
    text-align: center;
}

#upload-images{
    background-color: #1f2937;
    width: fit-content;
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 6px; 
}

.item-left p{
    margin-bottom: 1rem;
}