.details-view{
    /* background-color: white; */
    margin-top:1rem;
    color: inherit;
}

.detail-back-button{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    color: #888888;
    border: 2px solid rgb(210, 210, 210);
    box-shadow: 0 0 0 1px rgba(137, 137, 137, 0.1) !important;
    margin: 0.45rem 0rem;
}

.detail-view-container{
    background-color: #ffffff;
    border-radius:6px ;
    display: grid;
    grid-template-columns: 35% 40% 25%;
    gap: 0.5rem;
    padding: 0.5rem
}

.img-detail > img{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.details-holder{
    display:flex;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.75rem;
    border: 1px solid #cfcfcf;
    border-radius: 0.35rem;
    /* box-shadow: 0 0 0 2px rgba(137, 137, 137, 0.1) !important; */
}

.categories-detail{
    width:fit-content;
    padding: 0.35rem 0.5rem;
    border-radius: 0.35rem;
    border: 2px solid #fff1e8;
    font-size: 0.75rem;
    position: absolute;
    z-index: 98;
    margin: 0.5rem;
    color: white;
    font-weight: 300;
}

.status-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.current-option{
    display:flex;
    gap: 0.45rem;
    align-items: center;
    color: #4aaf60;

    & svg{
        width: 16px;
        height: 16px;
        vertical-align: middle;
        stroke: #4aaf60;
    }
}

.condition-tag{
    width:fit-content;
    padding: 0.35rem 0.5rem;
    border-radius: 0.35rem;
    border: 1px solid #4aaf60;
    color:  #4aaf60;
    background-color: #deffe5;
    font-size: 0.65rem;
}

.details-holder .title-name{
    font-size: 2.5rem;
}

.description-detail{
    margin-top: 0.35rem;
    font-size: 0.95rem;
    color: #888888;
    font-weight: 300;
}